*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow-x: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.scroll-sections
{
    position: relative;
    z-index: -1;
}

.scene-section
{
    height: 100vh;
}
